In [129]:
vetor = range(0,20); print(vetor)

range(0, 20)

In [130]:
#calculo do cubo
def calcularCubo(value):
    return value ** 3

In [131]:
for valor in vetor:
    print(calcularCubo(valor))

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859

In [132]:
#calcular o quadrado
def calculoQuadrado(value):
    return value **2

In [133]:
for valor in vetor:
    print(calculoQuadrado(valor))

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [134]:
#utilização da funcão map() podemos aplicar a função a um conjunto de elementos
funcMap = map(calcularCubo,vetor)

In [135]:
print(funcMap) #retorna o objeto tipo map que é possivel percorrer ele

<map object at 0x000001D1BC985A90>

In [136]:
print(list(funcMap)) #retorna a lista dos valores aplicados

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [137]:
funcQuadMap = map(calculoQuadrado, vetor); print(list(funcQuadMap))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [138]:
#com a função map aplicamos a função a um conjunto de elementos(APLICANDO FLOAT A TODOS ELEMENTOS)
funcMap2 = map(float , range(20))

In [139]:
#retornando o objeto que é possivel percorrer ele
funcMap2

In [140]:
#os objetos foram transformados em numeros reais. 
print(list(funcMap2))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0]

In [141]:
from math import sqrt

In [142]:
vetor1 = list(vetor) ;vetor1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [143]:
#amostra da raiz quadrada dos valores do vetor1 do indice 1 ao 4
print(list(map(sqrt,vetor1[0:5])))

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [144]:
#amostra da raiz quadrada dos valores do vetor1 do indice 10 ao 19
print(list(map(sqrt,vetor1[10:20])))

[3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674]

In [145]:
print(list(map(sqrt,vetor1)))

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674]

In [146]:
#Filter filtra elementos bool , que retorna os valores onde os elementos são True
array = range(0, 10)

In [147]:
print(array)

range(0, 10)

In [148]:
#function that returns True if the value is even
def isEven(value):
    return value % 2 == 0

In [149]:
isEven(190)

True

In [150]:
#use map function in array and show values that are even
#map vai verificar se o valor é par e retornar True ou False
print(list(map(isEven, array)))

[True, False, True, False, True, False, True, False, True, False]

In [151]:
#use filter function in array
#filter vai verificar se o valor é par e retorna os valores True
print(list(filter(isEven, array)))

[0, 2, 4, 6, 8]

In [152]:
# Lista de frases
lista_frases = ["Big Data", 
                "Machine Learning em Big Data e Algoritmos em Big Data", 
                "Data Science e Big Data", 
                "Big Data e Internet das Coisas",
                "Big Data está revolucionando o mundo, pois Big Data é um grande volume de dados"]

In [153]:
#usar o filter para retornar as frases que contenham a palavra Big Data e contem mais de 2 palavras
print(list(filter(lambda frase: "Big Data" in frase and len(frase.split()) > 2, lista_frases)))

['Machine Learning em Big Data e Algoritmos em Big Data', 'Data Science e Big Data', 'Big Data e Internet das Coisas', 'Big Data está revolucionando o mundo, pois Big Data é um grande volume de dados']

In [155]:
#ordenare a lista de frases por ordem alfabetica
print(sorted(lista_frases))

['Big Data', 'Big Data e Internet das Coisas', 'Big Data está revolucionando o mundo, pois Big Data é um grande volume de dados', 'Data Science e Big Data', 'Machine Learning em Big Data e Algoritmos em Big Data']

In [162]:
# Lista de frases
lista_phrases = ["Big Data", 
                "Machine Learning em Big Data e Algoritmos em Big Data", 
                "Data Science e Big Data", 
                "Big Data e Internet das Coisas",
                "Big Data está revolucionando o mundo, pois Big Data é um grande volume de dados"]

In [167]:
#retorna lista de Frases que contenham a palavra Big Data 2 vezes
def testa_Bigdata(lista_phrases):
    return lista_phrases.count("Big Data") >= 2

In [168]:
list(filter(testa_Bigdata, lista_phrases))

['Machine Learning em Big Data e Algoritmos em Big Data',
 'Big Data está revolucionando o mundo, pois Big Data é um grande volume de dados']

In [169]:
list(map(testa_Bigdata, lista_phrases))

[False, True, False, False, True]

# reduce

In [170]:
from functools import reduce

In [174]:
#reduce vai aplicar a funcao a um conjunto de elementos
soma = reduce((lambda x, y: x + y ), [1, 2, 3, 4])
soma2 = reduce( lambda x, y: x + y , range(1,10))

soma2

45